.ArticleCard {
  border-style: groove;
  background-color: white;
  border-color: #8dc6ff;
  border-radius: 10px;
  width: 97%;
  margin-bottom: 20px;
}

.ArticleTitle {
  margin: 30px;
}

.authorDate {
  padding-left: 30px;
  padding-bottom: 10px;
  justify-content: space-between;
}
