.ArticleCard {
  border-style: double;
  background-color: rgb(240, 203, 230);
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 97%;
  margin-bottom: 20px;
}

.ArticleTitle {
  padding: 5px;
  margin: 30px;
}

.authorDate {
  padding-left: 30px;
  justify-content: space-between;
}
