.list {
  list-style: none;
  padding: 30px;
  margin: auto;
  max-width: 100%;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .list {
    max-width: fit-content;
  }
}

@media screen and (max-width: 800px) {
  .list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
}
